body{color: #fff; background-color: #111; font-family: "Oxygen";}

.forcedirected-chart .link {fill: none;  stroke: #666;  stroke-width: 2px;}
.forcedirected-chart .link.link_Main{stroke-width: 2px}
.forcedirected-chart .link.link_Side{stroke-width: 2px;stroke-dasharray:5, 5;}
.forcedirected-chart .node.Character{stroke-width: 0px;}
.forcedirected-chart .node.Movie{stroke-width: 6px; fill:#222; stroke: rgb(128, 128, 128);}
.forcedirected-chart .label {fill: rgb(255, 255, 255);  font-family: "Verdana";}
.forcedirected-chart .label.Character{font-size: 32px;}


.forcedirected-chart .source_Pattani.target_Bachelor_of_Nursing_Science{stroke: #00af3f;}
.forcedirected-chart .source_Pattani.target_Faculty_of_Education{stroke: #00af3f;}
.forcedirected-chart .source_Pattani.target_Faculty_of_Humanities_and_Social_Sciences{stroke: #00af3f;}
.forcedirected-chart .source_Pattani.target_Faculty_of_Science_and_Technology{stroke: #00af3f;}
.forcedirected-chart .source_Pattani.target_Faculty_of_Fine_and_Applied_Arts{stroke: #00af3f;}
.forcedirected-chart .source_Pattani.target_Com_Sci{stroke: #00af3f;}
.forcedirected-chart .source_Pattani.target_Faculty_of_Political_Science{stroke: #00af3f;}
.forcedirected-chart .source_Pattani.target_College_of_Islamic_Studies{stroke: #00af3f;}


.forcedirected-chart .source_Hatyai.target_Graduate_School{stroke: #fe8a00;}
.forcedirected-chart .source_Hatyai.target_Faculty_of_Science{stroke: #fe8a00;}
.forcedirected-chart .source_Hatyai.target_Faculty_of_Engineering{stroke: #fe8a00;}
.forcedirected-chart .source_Hatyai.target_Faculty_of_Natural_Resources{stroke: #fe8a00;}
.forcedirected-chart .source_Hatyai.target_Faculty_of_Agro_Industry{stroke: #fe8a00;}
.forcedirected-chart .source_Hatyai.target_Faculty_of_Environment_Management{stroke: #fe8a00;}
.forcedirected-chart .source_Hatyai.target_Faculty_of_Medicine{stroke: #fe8a00;}
.forcedirected-chart .source_Hatyai.target_Faculty_of_Nursing{stroke: #fe8a00;}
.forcedirected-chart .source_Hatyai.target_International_College_Hatyai_Campus{stroke: #fe8a00;}
.forcedirected-chart .source_Hatyai.target_Faculty_of_Dentistry{stroke: #fe8a00;}
.forcedirected-chart .source_Hatyai.target_Pharmaceutical_Sciences{stroke: #fe8a00;}
.forcedirected-chart .source_Hatyai.target_Faculty_of_Management_Sciences{stroke: #fe8a00;}
.forcedirected-chart .source_Hatyai.target_Faculty_of_Liberal_Arts{stroke: #fe8a00;}
.forcedirected-chart .source_Hatyai.target_Bachelor_of_Economics{stroke: #fe8a00;}
.forcedirected-chart .source_Hatyai.target_Faculty_of_Law{stroke: #fe8a00;}
.forcedirected-chart .source_Hatyai.target_Faculty_of_Traditional{stroke: #fe8a00;}
.forcedirected-chart .source_Hatyai.target_Bachelor_of_Science{stroke: #fe8a00;}
.forcedirected-chart .source_Hatyai.target_Faculty_of_Veterinary_Science{stroke: #fe8a00;}

.forcedirected-chart .source_Phuket.target_Faculty_of_Hospitality_and_Tourism{stroke: #fd0000;}
.forcedirected-chart .source_Phuket.target_Faculty_of_Technology_and_Environment{stroke: #fd0000;}
.forcedirected-chart .source_Phuket.target_College_of_Computing{stroke: #fd0000;}
.forcedirected-chart .source_Phuket.target_Faculty_of_International_Studies{stroke: #fd0000;}

.forcedirected-chart .source_Suratthani.target_Faculty_of_Science_and_Industrial_Technology{stroke: #009ede;}

.forcedirected-chart .source_Trang.target_Faculty_of_Commerce_and_Management{stroke: #f2e21e; }
.forcedirected-chart .source_Trang.target_Faculty_of_Architecture{stroke: #f2e21e; }


.forcedirected-chart .node { fill: #fff;stroke: #333; stroke-width: 1.5px;}

/* characters */
.forcedirected-chart .node.Pattani{ fill: #00af3f;stroke: #d4b818; }
.forcedirected-chart .node.Character.Hatyai{ fill: #fe8a00;stroke: #fe8a00; }
.forcedirected-chart .node.Character.Phuket{ fill: #009ede;stroke: #009ede; }
.forcedirected-chart .node.Character.Suratthani{ fill: #fd0000;stroke: #fd0000; }
.forcedirected-chart .node.Character.Trang{ fill: #f2e21e;stroke: #f2e21e; }



/* movies */
.forcedirected-chart .node.Movie.Hatyai{stroke: #00af3f; }
.forcedirected-chart .node.Movie.Phuket{stroke: #fe8a00; }
.forcedirected-chart .node.Movie.Suratthani{stroke: #fe8a00; }
.forcedirected-chart .node.Movie.Trang{stroke: #fe8a00; }

/* character label */
/*.forcedirected-chart .label.Character{display: none;}*/
.forcedirected-chart .label.Character.Pattani{ font-family: 'Frijole', cursive;}
.forcedirected-chart .node.Character.Hatyai{ font-family: 'Bungee', cursive;}
.forcedirected-chart .label.Character.Phuket{ font-family: 'Squada One', cursive; }
.forcedirected-chart .label.Character.Suratthani{ font-family: 'Fanwood Text', serif;}
.forcedirected-chart .label.Character.Trang{ font-family: 'Audiowide', cursive; font-weight: bold;}

/* legend */
.forcedirected-chart .forcedirected-legend{font-size: 22px;padding: 1em; clear: both; overflow: hidden; }
.forcedirected-chart .forcedirected-legend-block{float:left; margin: 0 1em;}
.forcedirected-chart .forcedirected-legend-block-title{font-weight: bold;font-size: 11px}
.forcedirected-chart .forcedirected-legend-item{padding: 2px; display: inline-block; margin-right: 48px; line-height: 60px;}
.forcedirected-chart .forcedirected-legend-bullet{ display: inline-block; height: 20px; width: 20px; border-radius: 2px; margin-right: 8px;}
.forcedirected-chart .legend_Links .forcedirected-legend-bullet{ display: inline-block; height: 0; border-radius: 0;width: 30px; border-top: 1px #fff;; margin-right: 8px;}
.forcedirected-chart .legend_Links.Main .forcedirected-legend-bullet{border-top: solid 2px #fff}
.forcedirected-chart .legend_Links.Side .forcedirected-legend-bullet{border-top: dashed 2px #fff}
/* hide legend for movie */
.forcedirected-chart .legend_Movie{display: none;}

.forcedirected-chart .forcedirected-legend-item.Pattani{ font-family: 'Frijole', cursive;}
.forcedirected-chart .forcedirected-legend-item.Hatyai{ font-family: 'Bungee', cursive;}
.forcedirected-chart .forcedirected-legend-item.Phuket{ font-family: 'Squada One', cursive; }
.forcedirected-chart .forcedirected-legend-item.Suratthani{ font-family: 'Fanwood Text', serif;}
.forcedirected-chart .forcedirected-legend-item.Trang{ font-family: 'Audiowide', cursive; font-weight: bold;}

.forcedirected-chart .forcedirected-legend-item.Pattani .forcedirected-legend-bullet {background-color: #00af3f; }
.forcedirected-chart .forcedirected-legend-item.Hatyai .forcedirected-legend-bullet{background-color: #fe8a00; }
.forcedirected-chart .forcedirected-legend-item.Phuket .forcedirected-legend-bullet{background-color: #009ede; }
.forcedirected-chart .forcedirected-legend-item.Suratthani .forcedirected-legend-bullet{background-color: #fd0000; }
.forcedirected-chart .forcedirected-legend-item.Trang .forcedirected-legend-bullet{background-color: #f2e21e; }


/* style for the pen, ignore it! */
.nav{margin-bottom: 1em;}
.nav a{font-size: 18px; color: #fff; text-decoration: none;margin-right: 2em; display: inline-block; padding: 1em;}
.nav a.active{border-bottom: solid 3px #065298;}
.nav a:hover{border-bottom: solid 3px #065298;}

#howto { color: #c5c8c6;padding: 2em; font-family: 'Open Sans'}
#howto h2, h3{color: #62b1fe; }
#howto pre{padding: .5em; background-color: #1d1f21;  border-radius: 4px;}
#howto code{font-size: 1.3em; color: #89ff60; font-family: monospace;}
#howto table{padding: .5em; background-color: /*#292c2f*/#1d1f21;  border-radius: 4px; width: 100%; border-collapse: collapse;}
#howto table th{text-align: left;border-bottom:dashed 1px #89ff60;}
#howto table th, td{text-align: left; padding: .5em;}
#howto table thead{border-bottom:dashed 1px #89ff60;}
