
body{color: #fff; background-color: #111; font-family: "Oxygen";}

.forcedirected-chart .link {fill: none;  stroke: #666;  stroke-width: 2px;}
.forcedirected-chart .link.link_Main{stroke-width: 2px}
.forcedirected-chart .link.link_Side{stroke-width: 2px;stroke-dasharray:5, 5;}
.forcedirected-chart .node.Character{stroke-width: 0px;}
.forcedirected-chart .node.Movie{stroke-width: 6px; fill:#222; stroke: #bbb;}
.forcedirected-chart .label {fill: #fff;  font-family: "Verdana";}
.forcedirected-chart .label.Character{font-size: 32px;}


.forcedirected-chart .source_วิทยาเขตปัตตานี.target_Prince_of_Songkla_University{stroke: #00af3f;}
.forcedirected-chart .source_วิทยาเขตหาดใหญ่.target_Prince_of_Songkla_University{stroke: #00af3f;}
.forcedirected-chart .source_วิทยาเขตภูเก็ต.target_Prince_of_Songkla_University{stroke: #00af3f;}
.forcedirected-chart .source_วิทยาเขตสุราษฎร์ธา.target_Prince_of_Songkla_University{stroke: #00af3f;}
.forcedirected-chart .source_วิทยาเขตตรัง.target_Prince_of_Songkla_University{stroke: #00af3f;}


.forcedirected-chart .sourceวิทยาเขตหาดใหญ่.target_บัณฑิตวิทยาลัย{stroke: #fe8a00;}
.forcedirected-chart .sourceวิทยาเขตหาดใหญ่.target_คณะวิทยาศาสตร์{stroke: #fe8a00;}
.forcedirected-chart .sourceวิทยาเขตหาดใหญ่.target_คณะวิศวกรรมศาสตร์{stroke: #fe8a00;}
.forcedirected-chart .sourceวิทยาเขตหาดใหญ่.target_คณะทรัพยากรธรรมชาติ{stroke: #fe8a00;}
.forcedirected-chart .sourceวิทยาเขตหาดใหญ่.target_คณะอุตสาหกรรมเกษตร{stroke: #fe8a00;}
.forcedirected-chart .sourceวิทยาเขตหาดใหญ่.target_คณะการจัดการสิ่งแวดล้อม{stroke: #fe8a00;}
.forcedirected-chart .sourceวิทยาเขตหาดใหญ่.target_Avengers_Infinity_War{stroke: #fe8a00;}
.forcedirected-chart .sourceวิทยาเขตหาดใหญ่.target_Avengers_Infinity_War_2{stroke: #fe8a00;}
.forcedirected-chart .sourceวิทยาเขตหาดใหญ่.target_Avengers_Infinity_War_2{stroke: #fe8a00;}
.forcedirected-chart .sourceวิทยาเขตหาดใหญ่.target_Iron_Man{stroke: #fe8a00;}
.forcedirected-chart .sourceวิทยาเขตหาดใหญ่.target_Iron_Man_2{stroke: #fe8a00;}
.forcedirected-chart .sourceวิทยาเขตหาดใหญ่.target_Iron_Man_3{stroke: #fe8a00;}
.forcedirected-chart .sourceวิทยาเขตหาดใหญ่.target_Avengers{stroke: #fe8a00;}
.forcedirected-chart .sourceวิทยาเขตหาดใหญ่.target_Avengers_Age_of_Ultron{stroke: #fe8a00;}
.forcedirected-chart .sourceวิทยาเขตหาดใหญ่.target_Captain_America_Civil_War{stroke: #fe8a00;}
.forcedirected-chart .sourceวิทยาเขตหาดใหญ่.target_Avengers_Infinity_War{stroke: #fe8a00;}
.forcedirected-chart .sourceวิทยาเขตหาดใหญ่.target_Avengers_Infinity_War_2{stroke: #fe8a00;}
.forcedirected-chart .sourceวิทยาเขตหาดใหญ่.target_Avengers_Infinity_War_2{stroke: #fe8a00;}

.forcedirected-chart .source_Thor.target_Thor{stroke: #fd0000;}
.forcedirected-chart .source_Thor.target_Thor_The_Dark_world{stroke: #fd0000;}
.forcedirected-chart .source_Thor.target_Thor_Ragnarok{stroke: #fd0000;}
.forcedirected-chart .source_Thor.target_Avengers{stroke: #fd0000;}
.forcedirected-chart .source_Thor.target_Avengers_Age_of_Ultron{stroke: #fd0000;}
.forcedirected-chart .source_Thor.target_Avengers_Infinity_War{stroke: #fd0000;}
.forcedirected-chart .source_Thor.target_Avengers_Infinity_War_2{stroke: #fd0000;}

.forcedirected-chart .source_Captain_America.target_Captain_America_The_first_avenger{stroke: #009ede;}
.forcedirected-chart .source_Captain_America.target_Captain_America_The_winter_soldier{stroke: #009ede;}
.forcedirected-chart .source_Captain_America.target_Captain_America_Civil_War{stroke: #009ede;}
.forcedirected-chart .source_Captain_America.target_Avengers{stroke: #009ede;}
.forcedirected-chart .source_Captain_America.target_Avengers_Age_of_Ultron{stroke: #009ede;}
.forcedirected-chart .source_Captain_America.target_Avengers_Infinity_War{stroke: #009ede;}
.forcedirected-chart .source_Captain_America.target_Avengers_Infinity_War_2{stroke: #009ede;}

.forcedirected-chart .source_Guardian_of_the_Galaxy.target_Guardian_of_the_Galaxy{stroke: #f2e21e; }
.forcedirected-chart .source_Guardian_of_the_Galaxy.target_Guardian_of_the_Galaxy_2{stroke: #f2e21e; }
.forcedirected-chart .source_Guardian_of_the_Galaxy.target_Avengers_Infinity_War{stroke: #f2e21e;}
.forcedirected-chart .source_Guardian_of_the_Galaxy.target_Avengers_Infinity_War_2{stroke: #f2e21e;}

.forcedirected-chart .source_AntMan.target_AntMan{stroke: #ff0070;}
.forcedirected-chart .source_AntMan.target_AntMan_and_the_Wasp{stroke: #ff0070;}
.forcedirected-chart .source_AntMan.target_Captain_America_Civil_War{stroke: #ff0070;}
.forcedirected-chart .source_AntMan.target_Avangers_Infinity_War{stroke: #ff0070;}
.forcedirected-chart .source_AntMan.target_Avangers_Infinity_War_2{stroke: #ff0070;}

.forcedirected-chart .source_Doctor_Strange.target_Doctor_Strange{stroke: #00b9b8;}
.forcedirected-chart .source_Doctor_Strange.target_Avengers_Infinity_War{stroke: #00b9b8;}
.forcedirected-chart .source_Doctor_Strange.target_Avengers_Infinity_War_2{stroke: #00b9b8;}

.forcedirected-chart .source_Black_Panter.target_Black_Panter{stroke: #006b86;}
.forcedirected-chart .source_Black_Panter.target_Captain_America_Civil_War{stroke: #006b86;}
.forcedirected-chart .source_Black_Panter.target_Avengers_Infinity_War{stroke: #006b86;}
.forcedirected-chart .source_Black_Panter.target_Avengers_Infinity_War_2{stroke: #006b86;}

.forcedirected-chart .source_Captain_Marvel.target_Captain_Marvel{stroke: #c98bba;}
.forcedirected-chart .source_Captain_Marvel.target_Guardian_of_the_Galaxy_2{stroke: #c98bba;}
.forcedirected-chart .source_Captain_Marvel.target_Avengers_Infinity_War{stroke: #c98bba;}
.forcedirected-chart .source_Captain_Marvel.target_Avengers_Infinity_War_2{stroke: #c98bba;}

.forcedirected-chart .source_SpiderMan.target_SpiderMan_Homecoming{stroke: #840135;}
.forcedirected-chart .source_SpiderMan.target_SpiderMan_Homecoming_2{stroke: #840135;}
.forcedirected-chart .source_SpiderMan.target_Captain_America_Civil_War{stroke: #840135;}
.forcedirected-chart .source_SpiderMan.target_Avengers_Infinity_War{stroke: #840135;}
.forcedirected-chart .source_SpiderMan.target_Avengers_Infinity_War_2{stroke: #840135;}

.forcedirected-chart .node { fill: #fff;stroke: #333; stroke-width: 1.5px;}

/* characters */
.forcedirected-chart .node.วิทยาเขตปัตตานี{ fill: #00af3f;stroke: #00af3f; }
.forcedirected-chart .node.Character.วิทยาเขตปัตตานี{ fill: #fe8a00;stroke: #fe8a00; }
.forcedirected-chart .node.Character.Captain_America{ fill: #009ede;stroke: #009ede; }
.forcedirected-chart .node.Character.Thor{ fill: #fd0000;stroke: #fd0000; }
.forcedirected-chart .node.Character.Guardian_of_the_Galaxy{ fill: #f2e21e;stroke: #f2e21e; }
.forcedirected-chart .node.Character.AntMan{ fill: #ff0070;stroke: #ff0070; }
.forcedirected-chart .node.Character.Doctor_Strange{ fill: #00b9b8;stroke: #00b9b8; }
.forcedirected-chart .node.Character.Black_Panter{ fill: #006b86;stroke: #006b86; }
.forcedirected-chart .node.Character.Captain_Marvel{ fill: #c98bba;stroke: #c98bba; }
.forcedirected-chart .node.Character.SpiderMan{ fill: #840135;stroke: #840135; }


/* movies */
.forcedirected-chart .node.Movie.วิทยาเขตปัตตานี{stroke: #00af3f; }
.forcedirected-chart .node.Movie.Iron_Man{stroke: #fe8a00; }
.forcedirected-chart .node.Movie.Iron_Man_2{stroke: #fe8a00; }
.forcedirected-chart .node.Movie.Iron_Man_3{stroke: #fe8a00; }
.forcedirected-chart .node.Movie.Thor{stroke: #fd0000; }
.forcedirected-chart .node.Movie.Thor_The_Dark_world{stroke: #fd0000; }
.forcedirected-chart .node.Movie.Thor_Ragnarok{stroke: #fd0000; }
.forcedirected-chart .node.Movie.Captain_America_The_first_avenger{stroke: #009ede; }
.forcedirected-chart .node.Movie.Captain_America_The_winter_soldier{stroke: #009ede; }
.forcedirected-chart .node.Movie.Captain_America_Civil_War{stroke: #009ede; }
.forcedirected-chart .node.Movie.Guardian_of_the_Galaxy{stroke: #f2e21e; }
.forcedirected-chart .node.Movie.Guardian_of_the_Galaxy_2{stroke: #f2e21e; }
.forcedirected-chart .node.Movie.AntMan{stroke: #ff0070; }
.forcedirected-chart .node.Movie.AntMan_and_the_Wasp{stroke: #ff0070;}
.forcedirected-chart .node.Movie.Doctor_Strange{ stroke: #00b9b8; }
.forcedirected-chart .node.Movie.Black_Panter{ stroke: #006b86; }
.forcedirected-chart .node.Movie.Captain_Marvel{ stroke: #c98bba; }
.forcedirected-chart .node.Movie.SpiderMan_Homecoming{stroke: #840135; }
.forcedirected-chart .node.Movie.SpiderMan_Homecoming_2{stroke: #840135; }

/* character label */
/*.forcedirected-chart .label.Character{display: none;}*/
.forcedirected-chart .label.Character.วิทยาเขตปัตตานี{ font-family: 'Frijole', cursive;}
.forcedirected-chart .node.Character.Iron_Man{ font-family: 'Bungee', cursive;}
.forcedirected-chart .label.Character.Captain_America{ font-family: 'Squada One', cursive; }
.forcedirected-chart .label.Character.Thor{ font-family: 'Fanwood Text', serif;}
.forcedirected-chart .label.Character.Guardian_of_the_Galaxy{ font-family: 'Audiowide', cursive; font-weight: bold;}
.forcedirected-chart .label.Character.AntMan{ font-family: 'Anton', cursive; }
.forcedirected-chart .label.Character.Doctor_Strange{ font-family: 'Bigelow Rules', cursive;}
.forcedirected-chart .label.Character.Black_Panter{font-family: 'Tienne', cursive; }
.forcedirected-chart .label.Character.Captain_Marvel{font-family: 'Megrim', cursive;}
.forcedirected-chart .label.Character.SpiderMan{font-family: 'Skranji', cursive;}


/* style for the pen, ignore it! */
.nav{margin-bottom: 1em;}
.nav a{font-size: 18px; color: #fff; text-decoration: none;margin-right: 2em; display: inline-block; padding: 1em;}
.nav a.active{border-bottom: solid 3px #065298;}
.nav a:hover{border-bottom: solid 3px #065298;}

#howto { color: #c5c8c6;padding: 2em; font-family: 'Open Sans'}
#howto h2, h3{color: #62b1fe; }
#howto pre{padding: .5em; background-color: #1d1f21;  border-radius: 4px;}
#howto code{font-size: 1.3em; color: #89ff60; font-family: monospace;}
#howto table{padding: .5em; background-color: /*#292c2f*/#1d1f21;  border-radius: 4px; width: 100%; border-collapse: collapse;}
#howto table th{text-align: left;border-bottom:dashed 1px #89ff60;}
#howto table th, td{text-align: left; padding: .5em;}
#howto table thead{border-bottom:dashed 1px #89ff60;}
